# Ejercicio

Haga codificación de las variables categóricas de este dataset. Para esto tenga en cuenta lo siguiente:
- workclass es nominal.
- education es ordinal, y el orden está dado por grado escolar más alto alcanzado.
- marital-status es nominal.
- occupation es nominal.
- relationship es nominal.
- race es nominal.
- sex es nominal.
- native-country es ordinal, ordenando por orden alfabético.
- income es nominal.

Para evitar redundancia codifique las variables nominales con la opción 'drop_first' = True.

En todos los casos, limite el número de categorias a 10.

Al final le debe entregar un solo dataframe con todas las variables categóricas codificadas.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', header=None, na_values=' ?')
col = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship',
       'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income']
df.columns = col
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
from sklearn.preprocessing import OneHotEncoder
nominales = ['workclass', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'income']
X_nominales = df[nominales]
ohe = OneHotEncoder(drop='first', max_categories=10)
X_nominales_ohe = ohe.fit_transform(X_nominales)
X_nominales_ohe.shape

(32561, 34)

In [4]:
from sklearn.preprocessing import OrdinalEncoder
oe_country = OrdinalEncoder()
X_country = oe_country.fit_transform(df[['native-country']])+1
X_country.shape

(32561, 1)

In [5]:
orden = [' Preschool', ' 1st-4th', ' 5th-6th', ' 7th-8th', ' 9th', ' 10th', ' 11th', ' 12th', ' HS-grad',' Some-college', ' Assoc-acdm', ' Assoc-voc', ' Bachelors', ' Masters', ' Prof-school', ' Doctorate']
oe_education = OrdinalEncoder(categories=[orden])
X_education = oe_education.fit_transform(df[['education']])+1
X_education.shape

(32561, 1)

In [6]:
X = np.hstack((X_nominales_ohe.toarray(), X_country, X_education))
X.shape

(32561, 36)

In [7]:
X

array([[ 0.,  0.,  0., ...,  0., 39., 13.],
       [ 0.,  0.,  0., ...,  0., 39., 13.],
       [ 0.,  0.,  1., ...,  0., 39.,  9.],
       ...,
       [ 0.,  0.,  1., ...,  0., 39.,  9.],
       [ 0.,  0.,  1., ...,  0., 39.,  9.],
       [ 0.,  0.,  0., ...,  1., 39.,  9.]])